mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb(style="background-size:cover;background-position:center;")
            if !isKoyeb
                img.video-mixin__thumb-img(src="/"+video.thumbUrl, crossorigin)
            else
                img.video-mixin__thumb-img(src=video.thumbUrl, crossorigin)
        div.video-mixin__sub
            div.video-mixin__profile 
                if !video.owner.avatarUrl
                    img.video__avatar(src="https://yoontube.s3.ap-northeast-2.amazonaws.com/default.png",crossorigin)
                else if !isKoyeb
                    if user.avatarUrl.includes("amazonaws")            
                        img.video__avatar(src=src="https://yoontube.s3.ap-northeast-2.amazonaws.com/default.png", crossorigin)
                    else if user.avatarUrl.includes("githubusercontent")
                        img.video__avatar(src=video.owner.avatarUrl, crossorigin)
                    else 
                        img.video__avatar(src="/"+video.owner.avatarUrl, crossorigin)
                else
                    img.video__avatar(src=video.owner.avatarUrl,crossorigin)


            div.video-mixin__data
                span.video-mixin__title=video.title
                div.video-mixin__meta
                    span #{video.owner.name} • 
                    span #{video.meta.views} 회
